/* header*/
.nav-pic .nav-link {  
    display: inline-flex; 
    justify-content: flex-start; 
    align-items: center;
  }

#loc {
    display: flex;
    justify-content: center;
}

.loc-pic h2 {
    text-align: center;
}

.loc-pic {
    background-image: url('Codacademy\CSS\27_Tea Cozy (MAKING A WEBSITE RESPONSIVE)\media\img\locations-background.jpg');
    width: 1200px;
     min-height: 500px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}

.locations {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.loc-box {
    width: 300px;
    height: auto;
    background-color: black;
    color: white;
    display: inline-flex;
    margin: 10px 10px;
    flex-direction: column;
    align-items: center;
}